section{
    width: 100%;
    /* height: 100vh; */
}

.destination{
    width: 100%;
    position: absolute;
    top: 7rem;
    /* padding: 70px 0; */
    /* margin-top: 4rem; */
}

.destination h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.destination h1 span{
    color: #eb2226;
    margin-left: 15px;
    font-family: mv boli;
}

.destination h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #eb2226;
    display: block;
    position: relative;
    bottom: 15px;
}

.destination .destination_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.destination .destination_box .destination_card{
    width: 325px;
    height: 480px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.destination .destination_box .destination_card .destination_image{
    width: 300px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}

.destination .destination_box .destination_card .destination_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.destination .destination_box .destination_card .destination_image:hover img{
    transform: scale(1.1);
}

.destination .destination_box .destination_card .small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}

.destination .destination_box .destination_card:hover .small_card{
    position: relative;
    top: -240px;
    right: 20px;
    opacity: 1;
}

.destination .destination_box .destination_card .small_card i{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: #000;
    cursor: pointer;
    text-shadow: 0 0 6px #000;
    transition: 0.2s;
}

.destination .destination_box .destination_card .small_card i:hover{
    color: #fac031;
}

.destination .destination_box .destination_card .destination_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: #eb2226;
}

.destination .destination_box .destination_card .destination_info p{
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
    color: #343A40;
}

.destination .destination_box .destination_card .destination_info h3{
    text-align: center;
    margin-top: 10px;
}

.destination .destination_box .destination_card .destination_info .destination_icon{
    color: #fac031;
    text-align: center;
    margin: 10px 0 10px 0;
}

.destination .destination_box .destination_card .destination_info .destination_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: #48BFE3;
    border-radius: 10px;
    padding: 8px 10px;
    margin: 0 80px;
    transition: 0.3s;
}

footer{
    width: 100%;
    padding: 30px 0 0 20px;
    background: #eeeeee;
    /* margin-top: 8rem; */
    position: absolute;
    top: 103rem;
}

footer .footer_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer .footer_main .footer_tag{
    text-align: center;
}

footer .footer_main .footer_tag h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 30px;
}

footer .footer_main .footer_tag p{
    margin: 10px 0;
}

footer .footer_main .footer_tag i{
    margin: 0 5px;
    cursor: pointer;
}

footer .footer_main .footer_tag i:hover{
    color: #fac031;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

footer .end span{
    color: #fac031;
    margin-left: 10px;
}

::-webkit-scrollbar{
    width: 13px;
}

::-webkit-scrollbar-track{
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb{
    background: #fac031;
    border-radius: 15px;
}